In [1]:
import tushare as ts
import pandas as pd

In [2]:
pro = ts.pro_api('502bcbdbac29edf1c42ed84d5f9bd24d63af6631919820366f53e5d4')

In [6]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{}:{}@{}/{}".format('root', 'root', '127.0.0.1', 'quant'))
con = engine.connect()

In [14]:
df_300 = pro.index_dailybasic(ts_code='000300.SH')

In [37]:
df_300_pre = pro.index_dailybasic(ts_code='000300.SH', start_date='20040101', end_date='20120531')

Exception: 抱歉，检测到您存在恶意行为，现已被系统禁用！213685

In [22]:
df = pro.index_dailybasic(trade_date='20240930')

In [23]:
df

,ts_code,trade_date,total_mv,float_mv,total_share,float_share,free_share,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
0,000001.SH,20240930,6.312147e+13,4.851369e+13,5.750243e+12,4.587430e+12,1.779273e+12,2.36,6.08,14.63,14.68,1.37
1,000005.SH,20240930,3.556569e+12,2.896697e+12,4.240140e+11,3.495128e+11,1.680894e+11,2.88,6.00,11.24,11.51,1.04
2,000006.SH,20240930,6.268272e+11,5.937947e+11,9.221180e+10,8.845951e+10,3.982561e+10,3.36,7.46,9.11,11.45,0.69
3,000016.SH,20240930,2.667942e+13,1.982812e+13,2.061984e+12,1.592893e+12,3.567850e+11,0.96,4.30,11.45,11.38,1.25
4,000300.SH,20240930,5.732847e+13,4.311059e+13,4.174756e+12,3.157427e+12,1.073583e+12,1.62,4.75,13.22,13.26,1.41
5,000905.SH,20240930,1.291473e+13,1.146707e+13,1.282961e+12,1.142583e+12,5.830304e+11,3.40,6.67,23.70,24.87,1.77
6,399001.SZ,20240930,2.195105e+13,1.867820e+13,1.293393e+12,1.128382e+12,6.411690e+11,3.94,6.93,23.94,25.39,2.29
7,399005.SZ,20240930,6.485160e+12,5.445150e+12,3.294615e+11,2.928973e+11,1.544688e+11,3.42,6.49,24.13,26.24,2.67
8,399006.SZ,20240930,5.813034e+12,4.725791e+12,1.458367e+11,1.171310e+11,8.367215e+10,6.27,8.78,34.44,33.22,4.25
9,399016.SZ,20240930,6.426386e+12,5.236360e+12,1.391917e+11,1.223133e+11,7.752409e+10,4.66,7.35,26.14,27.52,4.26
10,399300.SZ,20240930,5.732847e+13,4.311059e+13,4.174756e+12,3.157427e+12,1.073583e+12,1.62,4.75,13.22,13.26,1.41
11,399905.SZ,20240930,1.291473e+13,1.146707e+13,1.282961e+12,1.142583e+12,5.830304e+11,3.40,6.67,23.70,24.87,1.77

In [21]:
df_1000

Empty DataFrame
Columns: [ts_code, trade_date, total_mv, float_mv, total_share, float_share, free_share, turnover_rate, turnover_rate_f, pe, pe_ttm, pb]
Index: []

In [26]:
df_300

,ts_code,total_mv,float_mv,total_share,float_share,free_share,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
trade_date,,,,,,,,,,,
20240930,000300.SH,5.732847e+13,4.311059e+13,4.174756e+12,3.157427e+12,1.073583e+12,1.62,4.75,13.22,13.26,1.41
20240927,000300.SH,5.329078e+13,3.999122e+13,4.174671e+12,3.139221e+12,1.073461e+12,0.85,2.47,12.29,12.33,1.31
20240926,000300.SH,5.193326e+13,3.875339e+13,4.174670e+12,3.139220e+12,1.073460e+12,0.77,2.27,11.98,12.01,1.28
20240925,000300.SH,5.022778e+13,3.736134e+13,4.174670e+12,3.139220e+12,1.073460e+12,0.77,2.25,11.59,11.62,1.24
20240924,000300.SH,4.960151e+13,3.686190e+13,4.174671e+12,3.139220e+12,1.073460e+12,0.65,1.90,11.44,11.47,1.22
...,...,...,...,...,...,...,...,...,...,...,...
20120606,000300.SH,1.813379e+13,1.224685e+13,2.711060e+12,1.595577e+12,5.115154e+11,0.21,0.66,11.06,10.95,1.67
20120605,000300.SH,1.813146e+13,1.225520e+13,2.711060e+12,1.595571e+12,5.115354e+11,0.24,0.74,11.06,10.95,1.67
20120604,000300.SH,1.810633e+13,1.223090e+13,2.710841e+12,1.594364e+12,5.107789e+11,0.33,1.03,11.04,10.93,1.67
20120601,000300.SH,1.856212e+13,1.254111e+13,2.709853e+12,1.593379e+12,5.101734e+11,0.28,0.87,11.32,11.21,1.71
20120531,000300.SH,1.854618e+13,1.254273e+13,2.708774e+12,1.593297e+12,5.101275e+11,0.28,0.86,11.31,11.20,1.71

In [25]:
df_300.set_index('trade_date', inplace=True)

In [28]:
df_300_s =  df_300[['pe', 'pe_ttm', 'pb']]

In [29]:
df_300_s

               pe  pe_ttm    pb
trade_date
20240930    13.22   13.26  1.41
20240927    12.29   12.33  1.31
20240926    11.98   12.01  1.28
20240925    11.59   11.62  1.24
20240924    11.44   11.47  1.22
...           ...     ...   ...
20120606    11.06   10.95  1.67
20120605    11.06   10.95  1.67
20120604    11.04   10.93  1.67
20120601    11.32   11.21  1.71
20120531    11.31   11.20  1.71

[3000 rows x 3 columns]

In [34]:
from sqlalchemy.types import CHAR
df_300_s.to_sql(name='index_dailybasic_300', con=con, if_exists='replace', index=True, dtype={'trade_date': CHAR(8)})

3000

In [10]:
df_300

,ts_code,total_mv,float_mv,total_share,float_share,free_share,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
trade_date,,,,,,,,,,,
20240930,000300.SH,5.732847e+13,4.311059e+13,4.174756e+12,3.157427e+12,1.073583e+12,1.62,4.75,13.22,13.26,1.41
20240927,000300.SH,5.329078e+13,3.999122e+13,4.174671e+12,3.139221e+12,1.073461e+12,0.85,2.47,12.29,12.33,1.31
20240926,000300.SH,5.193326e+13,3.875339e+13,4.174670e+12,3.139220e+12,1.073460e+12,0.77,2.27,11.98,12.01,1.28
20240925,000300.SH,5.022778e+13,3.736134e+13,4.174670e+12,3.139220e+12,1.073460e+12,0.77,2.25,11.59,11.62,1.24
20240924,000300.SH,4.960151e+13,3.686190e+13,4.174671e+12,3.139220e+12,1.073460e+12,0.65,1.90,11.44,11.47,1.22
...,...,...,...,...,...,...,...,...,...,...,...
20120606,000300.SH,1.813379e+13,1.224685e+13,2.711060e+12,1.595577e+12,5.115154e+11,0.21,0.66,11.06,10.95,1.67
20120605,000300.SH,1.813146e+13,1.225520e+13,2.711060e+12,1.595571e+12,5.115354e+11,0.24,0.74,11.06,10.95,1.67
20120604,000300.SH,1.810633e+13,1.223090e+13,2.710841e+12,1.594364e+12,5.107789e+11,0.33,1.03,11.04,10.93,1.67
20120601,000300.SH,1.856212e+13,1.254111e+13,2.709853e+12,1.593379e+12,5.101734e+11,0.28,0.87,11.32,11.21,1.71
20120531,000300.SH,1.854618e+13,1.254273e+13,2.708774e+12,1.593297e+12,5.101275e+11,0.28,0.86,11.31,11.20,1.71

In [3]:
df

,ts_code,trade_date,total_mv,float_mv,total_share,float_share,free_share,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
0,000001.SH,20240930,6.312147e+13,4.851369e+13,5.750243e+12,4.587430e+12,1.779273e+12,2.36,6.08,14.63,14.68,1.37
1,000005.SH,20240930,3.556569e+12,2.896697e+12,4.240140e+11,3.495128e+11,1.680894e+11,2.88,6.00,11.24,11.51,1.04
2,000006.SH,20240930,6.268272e+11,5.937947e+11,9.221180e+10,8.845951e+10,3.982561e+10,3.36,7.46,9.11,11.45,0.69
3,000016.SH,20240930,2.667942e+13,1.982812e+13,2.061984e+12,1.592893e+12,3.567850e+11,0.96,4.30,11.45,11.38,1.25
4,000300.SH,20240930,5.732847e+13,4.311059e+13,4.174756e+12,3.157427e+12,1.073583e+12,1.62,4.75,13.22,13.26,1.41
5,000905.SH,20240930,1.291473e+13,1.146707e+13,1.282961e+12,1.142583e+12,5.830304e+11,3.40,6.67,23.70,24.87,1.77
6,399001.SZ,20240930,2.195105e+13,1.867820e+13,1.293393e+12,1.128382e+12,6.411690e+11,3.94,6.93,23.94,25.39,2.29
7,399005.SZ,20240930,6.485160e+12,5.445150e+12,3.294615e+11,2.928973e+11,1.544688e+11,3.42,6.49,24.13,26.24,2.67
8,399006.SZ,20240930,5.813034e+12,4.725791e+12,1.458367e+11,1.171310e+11,8.367215e+10,6.27,8.78,34.44,33.22,4.25
9,399016.SZ,20240930,6.426386e+12,5.236360e+12,1.391917e+11,1.223133e+11,7.752409e+10,4.66,7.35,26.14,27.52,4.26
10,399300.SZ,20240930,5.732847e+13,4.311059e+13,4.174756e+12,3.157427e+12,1.073583e+12,1.62,4.75,13.22,13.26,1.41
11,399905.SZ,20240930,1.291473e+13,1.146707e+13,1.282961e+12,1.142583e+12,5.830304e+11,3.40,6.67,23.70,24.87,1.77