In [1]:
import baostock as bs
import pandas as pd

In [2]:
lg = bs.login()

login success!

In [3]:
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

login respond error_code:0
login respond  error_msg:success

In [27]:
rs_300 = bs.query_history_k_data_plus("sh.000300",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM",
    start_date='2006-01-01', end_date='2024-09-30', frequency="d")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

In [28]:
data_list = []
while (rs_300.error_code == '0') & rs_300.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs_300.get_row_data())
df_300 = pd.DataFrame(data_list, columns=rs.fields)

In [33]:
df_300

,date,code,open,high,low,close,preclose,volume,amount,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM
0,2006-01-04,sh.000300,926.5590,941.4280,926.4120,941.4280,923.4510,2112689900,11442608327.0000,1.946718,,,,
1,2006-01-05,sh.000300,943.8500,959.6250,942.3080,959.1340,941.4280,2731174300,14693493720.0000,1.880759,,,,
2,2006-01-06,sh.000300,961.9150,975.6280,956.0400,970.0320,959.1340,3028636800,16170989866.0000,1.136234,,,,
3,2006-01-09,sh.000300,971.0890,976.2730,966.0530,975.2530,970.0320,2432955200,12626400277.0000,0.538230,,,,
4,2006-01-10,sh.000300,975.2820,978.2770,964.4300,978.1540,975.2530,2273530200,12344022953.0000,0.297461,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4550,2024-09-24,sh.000300,3244.6468,3351.9684,3222.4885,3351.9090,3212.7639,20407221700,307879526847.5000,4.331009,0.000000,0.000000,0.000000,0.000000
4551,2024-09-25,sh.000300,3403.7021,3465.4882,3393.4380,3401.5330,3351.9090,24156425500,356862584939.5000,1.480470,0.000000,0.000000,0.000000,0.000000
4552,2024-09-26,sh.000300,3399.3188,3545.3249,3391.6772,3545.3204,3401.5330,24313401000,373983643044.8000,4.227135,0.000000,0.000000,0.000000,0.000000
4553,2024-09-27,sh.000300,3617.9203,3708.4951,3596.5833,3703.6849,3545.3204,26548777400,466692757481.8000,4.466860,0.000000,0.000000,0.000000,0.000000
4554,2024-09-30,sh.000300,3846.6515,4038.6968,3796.5045,4017.8545,3703.6849,51021770700,862528807419.2000,8.482622,0.000000,0.000000,0.000000,0.000000

In [31]:
df_300.to_csv("sh000300.csv", index=False)

In [15]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{}:{}@{}/{}".format('root', 'root', '127.0.0.1', 'quant'))
con = engine.connect()

In [32]:
df_300.to_sql(name='index_history', con=con, if_exists='append', index=False)

4555

In [17]:
rs_500 = bs.query_history_k_data_plus("sh.000905",
    "date,code,open,high,low,close,preclose,volume,amount,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM",
    start_date='2006-01-01', end_date='2024-09-30', frequency="d")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

In [20]:
data_list = []
while (rs_500.error_code == '0') & rs_500.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs_500.get_row_data())
df_500 = pd.DataFrame(data_list, columns=rs.fields)

In [21]:
df_500

,date,code,open,high,low,close,preclose,volume,amount,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM
0,2006-01-04,sh.000905,860.0440,871.9610,859.3050,871.7300,860.1310,803901003,4000198215.0000,1.348515,,,,
1,2006-01-05,sh.000905,872.0880,882.8130,871.6030,882.7320,871.7300,1088581159,5213044132.0000,1.262090,,,,
2,2006-01-06,sh.000905,884.9240,896.0550,879.1780,891.9400,882.7320,1337023166,6451093877.0000,1.043126,,,,
3,2006-01-09,sh.000905,893.5250,905.4310,892.2110,905.0680,891.9400,1236129648,6030602226.0000,1.471847,,,,
4,2006-01-10,sh.000905,907.6350,911.2940,898.7300,911.1910,905.0680,1120008016,5314702723.0000,0.676522,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4550,2024-09-24,sh.000905,4524.2214,4690.5736,4503.1245,4689.5964,4494.6878,17714470300,159947071682.9000,4.336421,0.000000,0.000000,0.000000,0.000000
4551,2024-09-25,sh.000905,4743.6343,4847.2034,4724.4301,4731.4755,4689.5964,20459351900,182209573751.3000,0.893021,0.000000,0.000000,0.000000,0.000000
4552,2024-09-26,sh.000905,4725.9960,4938.1839,4719.3492,4938.1839,4731.4755,22993032300,196122560309.1000,4.368794,0.000000,0.000000,0.000000,0.000000
4553,2024-09-27,sh.000905,5027.2644,5227.9577,5021.5148,5201.6656,4938.1839,23017750800,232646658012.5000,5.335599,0.000000,0.000000,0.000000,0.000000
4554,2024-09-30,sh.000905,5449.7889,5757.9213,5387.3380,5743.2170,5201.6656,38870320000,418784669568.5000,10.411115,0.000000,0.000000,0.000000,0.000000

In [22]:
df_500.to_csv('sh000905.csv',index=False)

In [26]:
from sqlalchemy.types import CHAR, VARCHAR

df_500.to_sql(name='index_history', con=con, if_exists='append', index=False, dtype={'date': CHAR(10), 'code': VARCHAR(30)})

4555